.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;

  border-bottom: 1px solid black;
}

.channelName {
  margin-left: 15px;
  font-size: 25px;
}

.button {
  position: relative;

  border: none;
  background-color: transparent;
  margin-right: 15px;
  cursor: pointer;

  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.rightPartHeader{
  display: flex;
}