.container {
  display: flex;
  align-items: flex-end;

  height: 45px;

  padding: 5px;

  background-color: antiquewhite;
  border-bottom: 1px solid black;
}

.logo {
  height: 100%;
}

.lettersLogo {
  height: 60%;
  margin-left: 15px;
}
