.container {
  display: flex;
  width: 100%;
}

.containerMessage {
  min-height: 35px;
  max-width: min-content;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.content {
  font-size: 17px;
  margin: 2px 5px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.informationText{
  font-size: 12px;
  margin: 0px 5px;
  margin-bottom: 2px;

  white-space: nowrap;
}

.position {
  justify-content: flex-end;
}
