.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 250px;
  background-color: blanchedalmond;
  border-right: 1px solid black;
}

.containerSearch {
  display: flex;
  align-items: center;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.containerUnderButton {
  border-top: 1px solid black;
}

.button {
  margin: 5px;
  border: 1px solid black;
  background-color: transparent;

  cursor: pointer;
}

.button:hover {
  background-color: rgb(200, 180, 155);
}

.buttonCheck {
  background-color: rgb(200, 180, 155);
}